127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
10.14.25.52 snowinvnoida1.example.com
10.5.112.151 snowinvnoida2.example.com
10.92.200.87 snowinvblr.example.com
10.56.40.24 snowinvpune.example.com
10.116.41.66 snowinvchennai.example.com
10.135.40.51 snowinvbhu.example.com
10.240.13.57 snowinvmanesar.example.com


10.5.29.213	N4PENL-ARWD0570.india.example.itm N4PENL-ARWD0570
10.5.29.211     N4PENL-ARWD0569.india.example.itm N4PENL-ARWD0569


10.14.136.33 airtelproxy.example.com
